<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="CheckerPlugin.C"
            nameFilter="*.c"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="&amp;KariyaSiesta"
               path="additions"
               id="CheckerPlugin.CMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%PopupMenus.Check"
               class="org.sapid.checker.popup.actions.CheckSelectedFile"
               menubarPath="CheckerPlugin.CMenu/group1"
               enablesFor="1"
               id="CheckerPlugin.C.check">
         </action>
         <action
               class="org.sapid.checker.popup.actions.RemoveAllMarkers"
               id="CheckerPlugin.C.deletemarker"
               label="%PopupMenus.RemoveAllMarkers"
               menubarPath="CheckerPlugin.CMenu/group1"/>
      </objectContribution>
     <objectContribution
            id="CheckerPlugin.H"
            nameFilter="*.h"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="CheckerPlugin.HMenu"
               label="&amp;KariyaSiesta"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.sapid.checker.popup.actions.CheckSelectedFile"
               enablesFor="1"
               id="CheckerPlugin.H.Check"
               label="%PopupMenus.Check"
               menubarPath="CheckerPlugin.HMenu/group1">
         </action>
         <action
               class="org.sapid.checker.popup.actions.RemoveAllMarkers"
               id="CheckerPlugin.H.deletemarker"
               label="%PopupMenus.RemoveAllMarkers"
               menubarPath="CheckerPlugin.HMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="CheckerPlugin.Makefile"
            nameFilter="Makefile"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="CheckerPlugin.MakefileMenu"
               label="&amp;KariyaSiesta"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.sapid.checker.popup.actions.CreateSDB"
               id="CheckerPlugin.Makefile.SDB"
               label="%PopupMenus.CreateSDB"
               menubarPath="CheckerPlugin.MakefileMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="CheckerPlugin.Project"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="CheckerPlugin.ProjectMenu"
               label="&amp;KariyaSiesta"
               path="additions">
            <separator name="group2"/>
         </menu>
         <action
               class="org.sapid.checker.popup.actions.CheckAllFile"
               enablesFor="1"
               id="CheckerPlugin.Project.AllCheck"
               label="%PopupMenus.CheckAllFiles"
               menubarPath="CheckerPlugin.ProjectMenu/group2"/>
         <action
               class="org.sapid.checker.popup.actions.RemoveAllMarkersInProject"
               id="CheckerPlugin.Project.deleteAll"
               label="%PopupMenus.RemoveAllMarkersInProj"
               menubarPath="CheckerPlugin.ProjectMenu/group2"/>
         <action
               class="org.sapid.checker.popup.actions.CreateSDB"
               id="CheckerPlugin.Project.SDB"
               label="%PopupMenus.CreateSDB"
               menubarPath="CheckerPlugin.ProjectMenu/group2">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="CheckerPlugin.Directory"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="CheckerPlugin.DirectoryMenu"
               label="&amp;KariyaSiesta"
               path="additions">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="org.sapid.checker.popup.actions.CheckAllFile"
               enablesFor="1"
               id="CheckerPlugin.Directory.AllCheck"
               label="%PopupMenus.CheckAllFilesDir"
               menubarPath="CheckerPlugin.DirectoryMenu/group2">
         </action>
         <action
               class="org.sapid.checker.popup.actions.RemoveAllMarkersInProject"
               id="CheckerPlugin.Directory.AllDelete"
               label="%PopupMenus.RemoveAllMarkersInDir"
               menubarPath="CheckerPlugin.DirectoryMenu/group2">
         </action>
      </objectContribution>
 
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CheckerPlugin"
            name="KariyaSiesta"/>
      <view
            category="CheckerPlugin"
            class="org.sapid.checker.eclipse.view.XPathViewer"
            icon="icons/sample.gif"
            id="checkerplugin.views.XPathViewer"
            name="XPathViewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="checkerplugin.views.XPathViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.sapid.checker.eclipse.properties.CheckerPropertyPage"
            id="org.sapid.checker.eclipse.properties.CheckerPropertyPage."
            name="KariyaSiesta"
            objectClass="org.eclipse.core.resources.IProject"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sapid.checker.eclipse.properties.CheckerPreferencePage"
            id="org.sapid.checker.eclipse.properties.CheckerGlobalPropertyPage"
            name="KariyaSiesta">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sapid.checker.eclipse.properties.CheckerPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
